<!DOCTYPE html>
<html lang="ja">

  <body>
    <h1 class=toptitle>ようこそ Bookers へ！
    </h1>

    <h4 class=toptext>Bookersでは、さまざまな書籍に関するあなたの意見や<br>印象を共有し交換することができます
    </h4>

    <a href="/books">start
    </a>
  </body>
</html>