/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columntag {
  display: flex;
  flex-wrap: nowrap;
}

.titletag{
width: 20%;
}

.bodytag{
width: 50%;
}

.button{
width: 30%;
}

.book-box {
  display: flex;
  flex-wrap: nowrap;
}

.book-title{
  display: block;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-body{
  display: block;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttonbox{
  display: flex;
  flex-wrap: nowrap;
  width: 30%;
}

.showbutton{
padding: 2px;
}

.editbutton{
  padding: 2px;
}

.destroybutton{
  padding: 2px;
}